{template:css-linear-gradient}
background-image: -webkit-linear-gradient(top, {from}, {to});
background-image:    -moz-linear-gradient(top, {from}, {to});
background-image:     -ms-linear-gradient(top, {from}, {to});
background-image:      -o-linear-gradient(top, {from}, {to});
background-image:         linear-gradient(top, {from}, {to});
{/template:css-linear-gradient}

{template:css-radial-gradient}
background-image: -webkit-radial-gradient(circle, {from}, {to});
background-image:    -moz-radial-gradient(circle, {from}, {to});
background-image:     -ms-radial-gradient(circle, {from}, {to});
background-image:      -o-radial-gradient(circle, {from}, {to});
background-image:         radial-gradient(circle, {from}, {to});
{/template:css-radial-gradient}
